<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/applogs/phoenix-slb-admin/phoenix-slb-admin.log
        </File>
        <Append>true</Append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/applogs/phoenix-slb-admin/phoenix-slb-admin.log.%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%X{req.uriWithQueryString}] [%thread] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="fileCheck"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/applogs/phoenix-slb-admin/phoenix-slb-admin-check.log
        </File>
        <Append>true</Append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/applogs/phoenix-slb-admin/phoenix-slb-admin-check.log.%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%X{req.uriWithQueryString}] [%thread] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="recorder"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/applogs/phoenix-slb-admin/phoenix-slb-admin-record.log
        </File>
        <Append>true</Append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/applogs/phoenix-slb-admin/phoenix-slb-admin-record.log.%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%X{req.uriWithQueryString}] [%thread] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%X{req.uriWithQueryString}] [%thread] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.dianping.phoenix" level="INFO"/>

    <logger name="com.dianping.phoenix.lb.monitor.ReqStatusDengine" level="INFO" additivity="false">
        <appender-ref ref="fileCheck"/>
    </logger>

    <logger name="com.dianping.phoenix.lb.monitor.StatusContainer" level="INFO" additivity="false">
        <appender-ref ref="fileCheck"/>
    </logger>

    <logger name="com.dianping.phoenix.lb.monitor.DegradeStatusContainer" level="INFO" additivity="false">
        <appender-ref ref="fileCheck"/>
    </logger>

    <logger name="com.dianping.phoenix.lb.action.interceptor.RecordInterceptor" level="INFO" additivity="false">
        <appender-ref ref="recorder"/>
    </logger>


    <root level="ERROR">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
