<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:spring/jdbc-mysql-test.properties</value>
                <value>classpath:spring/slb-lion-test.properties</value>
                <value>classpath:slb.properties</value>
                <value>classpath:web.properties</value>
            </list>
        </property>
    </bean>


</beans>