# eclipse
.project
.classpath
.settings

# intellij
.idea
*.iml
*.ipr
*.iws
projectFilesBackup

# maven
target
bin/

# nginx
Makefile
objs/
*.o
*.a
*.so
openssl-1.0.1h/
bin
Debug/
cscope.out
gdb.sh
gdb_dynamic.sh
tags
timer_gdb.sh


# others
TestNoSubmit.java
lib
dump
dumpdata
dump.tar
TODO
