<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>
    <ul class="breadcrumb">
        <li class="active">当前位置：集群 ${poolName} &nbsp;</li>
    </ul>

    <div class="nav-search" id="nav-search">
        <form class="form-search">
			<span class="input-icon"> <input type="text"
                                             placeholder="快速切换集群 ..." style="width: 300px"
                                             class="nav-search-input" name="a" id="pool-search-nav"
                                             autocomplete="off">
				<ul class="typeahead dropdown-menu"
                    style="top: 28px; left: 0px; display: none;">
                </ul> <i class="icon-search nav-search-icon"></i>
			</span>
        </form>
    </div>
</div>
