<script type="text/javascript" src="${contextPath}/static/js/myangular-pool.js?t=20140616"></script>


<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="${contextPath}/static/js/html5.js"></script>
<![endif]-->
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(document).ready(function () {
        angular.element($('#PoolController')).scope().getPool('${poolName}');
        angular.element($('#PoolController')).scope().influencingVsList('${poolName}');
    });
</script>