<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="order" value="1"/>
        <property name="locations">
            <list>
                <value>file:/data/appdatas/slb/jdbc-mysql.properties</value>
                <value>file:/data/appdatas/slb/mongo.properties</value>
                <value>classpath:slb.properties</value>
                <value>classpath:web.properties</value>
            </list>
        </property>
    </bean>

</beans>