<div class="main-container-inner" ng-app="MyApp" ng-controller="app"
     id="app">

    #parse("monitor/sidebar.htm")

    <div class="main-content">
        <div class="page-content">
            <div class="page-header">

                <form class="form-horizontal ng-pristine ng-valid" method="post" action="${contextPath}/monitor/app/all"
                      style="margin-top: 0px;">
							<span class="input-icon">  
								<input name="queryString" value="$queryString" class="col-xs-50 col-sm-20"/>
							</span>
                </form>

            </div>
            <div class="page-content">
                <div class="row" ng-hide="creating">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover"
                               id="taskListTable">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>Dengine</th>
                                <th>upstream</th>
                                <th>upstream存活率</th>
                                <th>应用地址</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody id="adList">
                            #set ($i = 0)
                            #foreach($status in $appStatus)
                            #set ($i = $i+1)
                            <tr>
                                <td>$i</td>
                                <td>$status.dengine</td>
                                <td>$status.upstream</td>
                                <td>$status.availableRate %</td>
                                <td><b>$status.address</b></td>
                                <td><a
                                        href="${contextPath}/monitor/singleapp/$stringUtils.replace($status.address, ':', '.')"> <span
                                        class="#if($status.status == 'down') label label-danger #end"
                                        class=""> $status.status</span>
                                </a></td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    #parse("monitor/paginator.htm")
                </div>
            </div>
        </div>


    </div>
</div>

