<!-- 删除站点 -->
<div aria-hidden="false" role="dialog" data-backdrop="true" class="bootbox modal" id="removeVirtualServerModal"
     style="margin: 0 0 0 0;">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">删除站点</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;" class="alert alert-danger alert-block">
                    <span class="bigger-110">删除后将无法恢复，请谨慎操作！ </span>
                </div>
                <div id="removeVirtualServerAlertDiv"></div>
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-sm-5 col-sm-4 control-label no-padding-right no-padding-right"
                               for="form-field-1">
                            为确保无误，请输入该站点名： </label>

                        <div class="col-sm-7">
                            <input id="removeVirtualServerName" type="text" class="col-xs-10 col-sm-7"
                                   ng-model="removeVirtualServerName" placeholder="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-hide="removeVirtualServerName==vs.name" disabled class="btn">确定</button>
                <button type="button" ng-show="removeVirtualServerName==vs.name" ng-click="removeVirtualServer()"
                        class="btn btn-primary">确定
                </button>
                <button type="button" data-dismiss="modal" class="btn">取消</button>
            </div>
        </div>
    </div>
</div>
