<span style="font-size: 12px;">所在位置：<a href="javascript:;" ng-click="switchLocationList();">所有规则</a> &nbsp;&nbsp;<span
        ng-show="locationEditing">/ &nbsp;&nbsp; 规则（{{locationEditing.pattern.trunc(70)}}）</span>
</span>
<div ng-hide="locationEditing">

    位置调整量：<input style="width: 50px; height: 30px" ng-model="count" integer type="number"/>
    <a style="float: right; margin-right: 30px;" href="javascript:;" ng-click="openAddLocationModal()"> <i
            class="icon-plus"></i> 添加新规则
    </a>

    <h5 style="margin-top: 30px">规则列表 </h5>

    <table id="locationTable" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
            <th style="width: 90px">调整位置</th>
            <th>序号</th>
            <th>路径/正则表达式</th>
            <th>匹配类型</th>
            <th style="width: 90px">大小写敏感</th>
            <th style="width:100px">HTTPS类型</th>
            <th style="width: 150px">指令数量</th>
            <th style="width: 130px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="location in vs.locations" index="{{$index}}">
            <td><a title="下移" href="javascript:void(0);" ng-click="setLocation($index,count);"><i
                    class="icon-arrow-down"></i></a>&nbsp;&nbsp; <a title="上移" href="javascript:void(0);"
                                                                    ng-click="setLocation($index,-count);"><i
                    class="icon-arrow-up"></i></a>&nbsp;&nbsp; <a title="置顶"
                                                                  href="javascript:void(0);"
                                                                  ng-click="topLocation($index);"><i
                    class="icon-double-angle-up"></i></a>&nbsp;&nbsp;
                <a title="置底" href="javascript:void(0);" ng-click="downLocation($index);"><i
                        class="icon-double-angle-down"></i></a></td>
            <td>{{$index}}</td>
            <td>{{location.pattern.trunc(70)}}</td>
            <td>{{location.matchType}}</td>
            <td><span ng-show="location.caseSensitive">是</span><span ng-hide="location.caseSensitive">否</span></td>
            <td><span ng-show="location.https">是</span><span ng-hide="location.https">否</span></td>
            <td ng-switch="location.httpsType">
                <span ng-switch-when="1">HTTP,HTTPS</span>
                <span ng-switch-when="2">强制HTTP</span>
                <span ng-switch-when="3">强制HTTPS</span>
            </td>
            <td><span ng-show="location.directives.length>0">{{location.directives.length}}个</span> <span
                    ng-show="location.directives.length > 0">(
            {{location.directives[0].type}}等)</span></td>
            <td><a href="javascript:void(0);" ng-click="switchLocation($index);"><i class="icon-edit"></i> 详细 </a>&nbsp;&nbsp;<a
                    href="javascript:void(0);" ng-click="affirmRemoveLocationModal($index);">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>

#parse("vs/location/${editOrShow}/detail.htm")
