#if($subMenu == 'auth')
<script type="text/javascript" src="${contextPath}/static/js/myangular-config.js?t=20150512"></script> #end
#if($subMenu == 'vs')
<script type="text/javascript" src="${contextPath}/static/js/myangular-config-vs.js?t=20150512"></script> #end
#if($subMenu == 'strategy')
<script type="text/javascript" src="${contextPath}/static/js/myangular-config-strategy.js?t=20150918"></script> #end
<script src="${contextPath}/static/js/html5.js"></script>
<link rel="stylesheet" type="text/css" href="${contextPath}/static/css/loaders.css" media="all">