<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed')
        } catch (e) {
        }
    </script>
    <ul class="nav nav-list">
        <li class="#if($subMenu == 'auth') open #end">
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> 用户管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: block;">
                <li class="#if($thirdMenu == 'auth_admin_list') active #end">
                    <a href="${contextPath}/config/member/index">
                        <i class="icon-globe"></i>
                        用户列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="#if($subMenu == 'vs') open #end">
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> VS管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: block;">
                <li class="#if($thirdMenu == 'vs_clean_list') active #end">
                    <a href="${contextPath}/config/vs/clean/index">
                        <i class="icon-globe"></i>
                        清除列表
                    </a>
                </li>
            </ul>
        </li>
        <li class="#if($subMenu == 'strategy') open #end">
            <a href="#" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> 策略管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: block;">
                <li class="#if($thirdMenu == 'strategy_list') active #end">
                    <a href="${contextPath}/config/strategy/index">
                        <i class="icon-globe"></i>
                        策略列表
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'collapsed')
        } catch (e) {
        }
    </script>
</div>

